# Esto es un comentario

# Es una lista de elementos a ignorar

# ignorar un archivo

.DS_Store

nose.json

# ignorar un grupo de archivos

*.extension

*.php

# ignorar un archivo dentro de una carpeta
nombrecarpeta/nombrearchivo

# ignorar carpeta
nombrecarpeta/


