/* EStilos generales */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: #d3d3d3;
 color: black;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: ;
 font-family: ;
}

button {
 cursor: pointer;
}

/* GIT */